<?xml version='1.0' encoding='utf-8'?>
<widget id="com.glowing_bear" ios-CFBundleIdentifier="org.glowing-bear" version="0.6.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Glowing Bear</name>
    <description>
        IRC for the 21st century
    </description>
    <author email="lorenz@4z2.de" href="https://github.com/lorenzhs">
        Lorenz Hübschle-Schneider
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="ios">
        <icon src="icon.png" />
        <icon gap:platform="ios" height="180" src="res/icons/ios/icon-60-3x.png" width="180" />
        <icon gap:platform="ios" height="60" src="res/icons/ios/icon-60.png" width="60" />
        <icon gap:platform="ios" height="120" src="res/icons/ios/icon-60-2x.png" width="120" />
        <icon gap:platform="ios" height="76" src="res/icons/ios/icon-76.png" width="76" />
        <icon gap:platform="ios" height="152" src="res/icons/ios/icon-76-2x.png" width="152" />
        <icon gap:platform="ios" height="40" src="res/icons/ios/icon-40.png" width="40" />
        <icon gap:platform="ios" height="80" src="res/icons/ios/icon-40-2x.png" width="80" />
        <icon gap:platform="ios" height="57" src="res/icons/ios/icon-57.png" width="57" />
        <icon gap:platform="ios" height="114" src="res/icons/ios/icon-57-2x.png" width="114" />
        <icon gap:platform="ios" height="72" src="res/icons/ios/icon-72.png" width="72" />
        <icon gap:platform="ios" height="144" src="res/icons/ios/icon-72-2x.png" width="144" />
        <icon gap:platform="ios" height="29" src="res/icons/ios/icon-small.png" width="29" />
        <icon gap:platform="ios" height="58" src="res/icons/ios/icon-small-2x.png" width="58" />
        <icon gap:platform="ios" height="50" src="res/icons/ios/icon-50.png" width="50" />
        <icon gap:platform="ios" height="100" src="res/icons/ios/icon-50-2x.png" width="100" />
        <splash src="res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comcom.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anycom.png" />
        <splash src="res/screen/ios/Default@3x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~comany.png" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="KeyboardShrinksView" value="true" />
        <preference name="HideKeyboardFormAccessoryBar" value="true" />
        <preference name="orientation" value="portrait" />
    </platform>
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="~2.0.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.1" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="~0.8.5" />
</widget>
